$background_color: var(--background_color);
$background_color_content: var(--background_color_content);
$color_reverse: var(--color_reverse);
$color: var(--color);
$color_tint: var(--color_tint);
$border_color: var(--border_color);
